
@media (min-width: 768px) and (max-width: 979px) {
	.navbar-brand {
		float: none;
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.intro-content {
		padding:250px 0 0;
	}

}

@media (max-width:767px) {

	.top-area p {
		text-align: center;
	}
	
	.navbar.navbar-custom.navbar-fixed-top {
		background-color: #fff;
	}
	
	.badge.custom-badge {
		margin: 0 0 0 0;
	}
	
	.navbar-header button {
		border-color: #ccc;
		background-color: #eee;
		padding: 5px 20px;
	}
	.navbar-header i{
		color: #666;
	}
	
	.boxes3 {
	width: 100%;
	}
	.navbar-custom ul.nav li {
		border-bottom: 1px solid #eee;
	}
	.navbar-custom ul.nav li:last-child {
		padding-bottom:0;
	}
	.navbar-custom ul.nav ul.dropdown-menu li {
		border-bottom: 1px solid #eee;
		padding-left: 20px;
	}
	
	.service-box {
		margin: 20px 0 30px;
	}

	.pricing-content.featured {
		margin-top: 20px;
	}
	
	.pricing-content:hover {
		margin-top:20px;
		-webkit-transition:none;
		-moz-transition:none;
		-o-transition:none;
		transition:none;
		-webkit-box-shadow:none;
		box-shadow:none;
	}

	.cta-text {
		float: none;
		text-align: center;
	}
	
	.cta-btn {
		float: none;
		text-align: center;
	}
	
	.sub-footer p {
		float: none;
		text-align: center;
	}
	.sub-footer p {
		float: none;
		text-align: center;
	}

}

@media (max-width:480px) {


	.navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
	}
	
	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
	}
	

	


	.box {
		padding: 45px;
	}

	.box i {
		margin-bottom: 30px;
	}
		
}

@media (max-width:320px) {
	.navbar-brand {
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	
	.intro-content {
		padding:250px 0 0;
	}
}